

<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <ul class="nav navbar-nav">
        <li class="active">
            <a href="/home">Home</a>
        </li>
        <li>
            <a href="/register">Register</a>
        </li>
        <li>
            <a href="/login" *ngIf="!service.IsLoggedIn()">Login</a>
        </li>
        <li>
     <button type="button" *ngIf="service.IsLoggedIn()" class="btn btn-large btn-block btn-success" (click)="SignOut()">Logout</button>
            
        </li>
    </ul>
</nav>

<hr>
<router-outlet></router-outlet>
